<div class="col-md-9 col-xs-12">
    <div class="col-12 flex-header">
      <h4>Your Feed</h4>
      <div class="line"></div>
    </div>
    <% if @posts.any? %>
        <ul>
            <% @posts.each do |post| %>
                <div class="col-12 mt-4 post-box">
                    <div class="row">
                        <div class="col-12 user-area">
                        <%= image_tag post.user.gravatar_url, :class => "gravatar-post" %>
                        <strong><%= link_to post.user.username, profile_path(post.user)%></strong>
                        </div>
                        <div class="col-12 post-area mt-2">
                            <h5><%= link_to post.title, post_path(post) %></h5>
                            <span><%= post.content.truncate(250) %> <strong><%= link_to 'Read More', post_path(post) %></strong></span>
                        </div>
                        <div class="col-12 post-info mt-1">
                            <%= post.created_at.in_time_zone("Istanbul").strftime("%b %d, %Y") %> - <%=pluralize(post.reading_time, 'min read')%>
                        </div>
                    </div>
                </div>
            <% end %>
        </ul>
    <% else %>
        <p>There is no post yet. Want to follow someone to update your feed? <%= link_to "Click Here!", profile_index_path%></p>
    <% end %>
</div>


<div class="col-md-3 col-xs-12">
    
</div>


