<div class="col-12 flex-header">
    <h4><%= current_user.username %>'s Dashboard</h4>
    <div class="line"></div>
</div>

<div class="col-12">
  <div class="row">


      <% if @posts.any?%>
        <% @posts.each do |post| %>
          <div class="card  col-4">
            <div class="card-body">
              <div class="card-title"><h5><%= post.title %></h5></div>
              <%= post.created_at.in_time_zone("Istanbul").strftime("%b %d, %Y") %>
              <br/>
              Visibility : <strong><%= post.visible %></strong>
              <hr/>
              <%= link_to "#{post.comments.count} Comments", post_comments_path(post), class:"btn btn-success btn-radius" %>
              <hr/>
              <%= link_to 'Show', post, class:"btn btn-success btn-radius" %>
              <%= link_to 'Edit', edit_post_path(post), class:"btn btn-success btn-radius"%>
              <%= link_to 'Destroy', post, class:"btn btn-success btn-radius", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="alert alert-info" role="alert">
          You have not sent a post yet.
        </div>
      <% end %>

  </div>
</div>
