<h1><%= @comment.title %></h1>
<p><%= @comment.content %></p>
<p><b>Written by <%= @comment.commentter %></b></p>

<% unless @comment.accepted? %>
    <%= link_to 'Accept this comment', accept_post_comment_path(@comment.post, @comment), method: :patch %>
<% else %>
    <%= link_to 'Deny this comment', deny_post_comment_path(@comment.post, @comment), method: :patch %>
<% end %>
