<div id='comments_field'>
    <% if @user_comments.any? %>
        <% @user_comments.each do |user_comment| %>
            <p><strong><%= user_comment.title %></strong> - <strong><%= link_to user_comment.user.username, profile_path(user_comment.user)%></strong> - <em>Comment Status : Waiting</em>
            <br/>
            <%= user_comment.content %></p>
            <hr>
        <% end %>
    <% end %>

    <% if @comments.any? %>
    <% @comments.each do |comment| %>
        <p><strong><%= comment.title %></strong> - <strong><%= link_to comment.user.username, profile_path(comment.user)%></strong>
        <% unless comment.accepted? %>
        <em> - Comment Status : Waiting</em>
        <% end %>
        <br/>
        <%= comment.content %></p>
        <hr>
    <% end %>
    <% else %>
        <p>There is no comment</p>
    <% end %>
</div>