<div id='comments_field'>
    <% if @user_comments.any? %>
        <% @user_comments.each do |user_comment| %>
            <%  if user_comment.accepted != true && user_comment.expire_date >  DateTime.now %>
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title"><%= user_comment.title %></h5>
                        <h6 class="card-subtitle mb-2 text-muted"> <%= image_tag user_comment.user.gravatar_url, :class => "gravatar-post" %> <%= link_to user_comment.user.username, profile_path(user_comment.user)%></h6>
                        <p class="card-text"><%= user_comment.content %></p>
                        <hr/>
                        <div class="alert alert-warning" role="alert">
                            This comment's status is "Waiting"
                        </div>
                    </div>
                </div> 
            <% end %>
        <% end %>
    <% end %>

    <% if @comments.any? %>
    <% @comments.each do |comment| %>
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title"><%= comment.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"> <%= image_tag comment.user.gravatar_url, :class => "gravatar-post" %> <%= link_to comment.user.username, profile_path(comment.user)%></h6>
                <p class="card-text"><%= comment.content %></p>
            </div>
        </div> 
    <% end %>
    <% else %>
        <div class="card mt-3">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">There is no any accepted comment.</h6>
            </div>
        </div> 
    <% end %>
</div>