<%= form_with(model: [@post, @post.comments.build], local: false) do |form| %>
    <p>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </p>
    <p>
        <%= form.label :content %>
        <%= form.text_area :content %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>
