<div class="col-12">
  <div class="row">
    <div class="col-md-3 col-xs-12 user-box">
      <div class="row">
        <div class="col-12 user-avatar">
          <%= image_tag @user.gravatar_url, :class => "gravatar-profile" %>
        </div>
        <div class="col-12 user-info mt-2">
          <div class="row">
            <div class="col-12">
              <span><strong><%= @user.username%></strong></span>
              <% if @user.name != nil && @user.name != '' %>
                <br/>
                <span><em><%= @user.name%></em></span>
              <% end %>
            </div>
            <div class="col-12 mt-2">
              <div class="col-12" id='follow_info'>
                <strong>Followers (<%= @user.followers.count %>) - Following (<%= @user.following.count %>)</strong>
              </div>
              <br>
              <% if current_user != @user%>
                <span><%= render 'follow_form' %></span>
              <% end %>
              <hr/>
            </div>
            <div class="col-12 user-bio">

              <% if @user.bio != nil && @user.bio != '' %>
                <span class="info-item"><%= @user.bio %></span>
                <hr>
              <%end%>

              <% if @user.website != nil && @user.website != '' %>
                <span class="info-item">🌐<%= @user.website %></span>
              <%end%>

              <% if @user.location != nil && @user.location != '' %>
                <span class="info-item">🗺️<%= @user.location %></span>
              <%end%>

            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="col-md-9 col-xs-12">
      <div class="col-12 flex-header">
        <h4>Last 5 Posts</h4>
        <div class="line"></div>
      </div>
      <% if @posts.any? %>
          <ul>
              <% @posts.first(5).each do |post| %>
                  <div class="col-12 mb-4 post-box">
                      <div class="row">
                          <div class="col-12 post-area mt-2">
                              <h5><%= link_to post.title, post_path(post) %></h5>
                              <span><%= post.content.truncate(250) %> <strong><%= link_to 'Read More', post_path(post) %></strong></span>
                          </div>
                          <div class="col-12 post-info mt-1">
                              <%= post.created_at.in_time_zone("Istanbul").strftime("%b %d, %Y") %> - <%=pluralize(post.reading_time, 'min read')%>
                          </div>
                      </div>
                  </div>
              <% end %>
          </ul>
      <% else %>
          <p>There is no post yet.</p>
      <% end %>




    <div class="col-12 flex-header">
      <h4>Comments</h4>
      <div class="line"></div>
    </div>
      <% if @comments.any? %>
          <ul>
              <% @comments.each do |comment| %>
                  <div class="col-12 mb-2 post-box">
                      <div class="row">
                          <div class="col-12 post-area mt-2">
                              <strong><%= link_to comment.title, post_path(comment.post) %></strong> to <strong><%= link_to comment.post.title, post_path(comment.post) %></strong>
                              <br/> 
                              <span><%= comment.content.truncate(250) %> <strong><%= link_to 'Look Post', post_path(comment.post) %></strong></span>
                          </div>
                          <div class="col-12 post-info mt-1">
                              <%= comment.created_at.in_time_zone("Istanbul").strftime("%b %d, %Y") %>
                          </div>
                      </div>
                  </div>
              <% end %>
          </ul>
      <% else %>
          <p>There is no comments.</p>
      <% end %>

    </div>
  </div>
</div>
